<% layout("../layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/stylesheets/listings/index.css">

<div class="container">
    <h1 class="page-title">All Listings</h1>

    <div class="listings">
        <% allListings.forEach(listing => { %>
            <div class="listing-wrapper">
                <% const isWishlisted = wishlist && wishlist.includes(listing._id.toString()); %>
                <button class="wishlist-btn" data-id="<%= listing._id %>">
                    <i class="fa-<%= isWishlisted ? 'solid' : 'regular' %> fa-heart"></i>
                </button>
                <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
                    <div class="listing-card">
                        <img src="<%= listing.images[0].url %>" alt="image">
                        <div class="card-body">
                            <h2><%= listing.title %></h2>
                            <p>Owned by: <%= listing.owner.username %></p>
                            <p>Starting from ₹ <%= listing.startingPrice %> / night</p>
                            <p><%= listing.location.city %>, <%= listing.location.country %></p>
                        </div>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
    <div id="toast"></div>
</div>

<script src="/scripts/listings/index.js"></script>