<% layout("../layouts/boilerplate.ejs") %>
    <h1><%= listing.title %></h1>
    <p><strong>Hosted By:</strong> <%= listing.owner.username %></p>
    <hr>
    <% listing.images.forEach(img => { %>
        <img src="<%= img.url %>" width="300" style="margin: 10px;">
    <% }) %>
    <hr>
    <p><strong>Price: </strong>₹ <%= listing.price %></p>
    <p><strong>Description: <strong> <%= listing.description %> </strong></p>
    <p><strong>Property Type: </strong> <%= listing.propertyType %></p>
    <p>
        <strong>Location: </strong> 
        <%= listing.location.address %>,
        <%= listing.location.city %>,
        <%= listing.location.country %>
    </p>
    <hr>
    <% if(currentUser && listing.owner._id.equals(currentUser._id)) { %>
        <a href="/listings/<%= listing._id %>/edit">
            <button>Edit</button>
        </a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" style="display: inline;">
            <button>Delete</button>
        </form>
    <% } %>
    