<% layout("../layouts/boilerplate.ejs") %>
<!-- For Location -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<link rel="stylesheet" href="/stylesheets/listings/show.css">

<div class="show-container">
    <h1 class="show-title"><%= listing.title %></h1>
    <p class="host"><stromg>Hosted by:</stromg> <%= listing.owner.username %> </p>
    
    <div class="image-gallery">
        <% listing.images.forEach(img => { %>
            <img src="<%= img.url %>" alt="image">
        <% }) %>
    </div>
    
    <div class="details">
        <p><strong>Description:</strong> <%= listing.description %></p>
        <p><strong>Property Type:</strong> <%= listing.propertyType %></p>
        <h3>Available Room Types</h3>

        <div class="room-types-list">
            <% listing.roomTypes.forEach(room => { %>
                <div class="room-type-card">
                    <p>
                        <strong>Room Type:</strong>
                        <%= room.roomType
                            .split("-")
                            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                            .join(" ")
                        %>
                    </p>
                    <p><strong>Total Rooms:</strong> <%= room.totalRooms %></p>
                    <p><strong>Price per Night:</strong> ₹ <%= room.pricePerNight %></p>
                </div>
            <% }) %>
        </div>
        <p>
            <strong>Location:</strong>
            <%= listing.location.address %>,
            <%= listing.location.city %>,
            <%= listing.location.country %>
        </p>
        <p><strong>Wifi Availability:</strong> <%= listing.wifi %></p>
        <p><strong>Parking Availability:</strong> <%= listing.parking %></p>
    </div>
    <% if(currentUser && listing.owner._id.equals(currentUser._id)) { %>
        <div class="actions">
            <a href="/listings/<%= listing._id %>/edit" class="edit-btn">Edit</a>

            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" style="display:inline;">
                <button class="delete-btn">Delete</button>
            </form>
        </div>
    <% } %>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
    <div id="map"></div>
</div>

<div class="availability-section">
    <h3>Check Availability</h3>
    <form id="availabilityForm">
        <label>Check In</label>
        <input type="date" name="checkIn" id="checkIn" required>
        <label>Check Out</label>
        <input type="date" name="checkOut" id="checkOut" required>
        <button type="submit">Check Availability</button>
    </form>
    <div id="availabilityResults"></div>
</div>

<% if(!userReview)  {%>
    <div class="review-section">
        <h3>Leave a Review</h3>
        <p class="review-subtitle">
            Share your experience with future guests.
        </p>
        <form action="/listings/<%= listing._id %>/reviews" method="post">
            <label class="review-label">Your Rating</label>
            <div class="star-rating">
                <input type="hidden" name="rating" id="rating-value" required>
                <span class="star" data-value="1">&#9733</span>
                <span class="star" data-value="2">&#9733</span>
                <span class="star" data-value="3">&#9733</span>
                <span class="star" data-value="4">&#9733</span>
                <span class="star" data-value="5">&#9733</span>
            </div>
            <label class="review-label">Your Review</label>
            <textarea name="comment" rows="5" placeholder="Share your experience..." required></textarea>
            <button type="submit" class="review-btn">Submit Review</button>
        </form>
    </div>
<% }else    { %>
    <div class="your-review-card">
        <h3>Your Review</h3>
        <form action="/listings/<%= listing._id %>/reviews/<%= userReview._id %>?_method=PUT" method="post">
            <div class="star-rating edit-stars">
                <input type="hidden" name="rating" id="edit-rating-value" value="<%= userReview.rating %>">
                <% for(let i = 1; i <= 5; i++)  { %>
                    <span class="edit-star <%= i <= userReview.rating ? 'active' : '' %>" data-value="<%= i %>">
                        &#9733
                    </span>
                <% } %>
            </div>
            <textarea name="comment" rows="5"><%= userReview.comment %></textarea>
            <button type="submit" class="edit-btn">Save Changes</button>
        </form>
        <div class="review-action">
            <form action="/listings/<%= listing._id %>/reviews/<%= userReview._id %>?_method=DELETE" method="post">
                <button type="submit" class="delete-btn">Delete Review</button>
            </form>
        </div>
    </div>
<% } %>

<div class="reviews-container">
    <% if(listing.reviews.length > 0)   { %>
        <% listing.reviews.forEach(review => { %>
            <div class="review-card">
                <h5><%= review.user.username %></h5>
                <div class="rating">
                    <% for(let i = 0; i< review.rating; i++) {%>
                        ⭐
                    <% } %>
                </div>
                <p><%= review.comment %></p>
                <small>
                    <%= review.createdAt.toLocaleDateString() %>
                </small>
            </div>
        <% }) %>
    <% }else    { %>
        <p>No reviews yet. Be the first to review this property!</p>
    <% } %>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="application/json" id="listing-data">
    <%- JSON.stringify({
        coordinates: listing.geometry.coordinates,
        title: listing.title,
        address:
            listing.location.address +
            listing.location.city +
            listing.location.country
    }) %>
</script>
<script src="/scripts/listings/map.js"></script>
<script src="/scripts/listings/show.js"></script>