<% layout("../layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/stylesheets/listings/show.css">

<div class="show-container">
    <h1 class="show-title"><%= listing.title %></h1>
    <p class="host"><stromg>Hosted by:</stromg> <%= listing.owner.username %> </p>
    
    <div class="image-gallery">
        <% listing.images.forEach(img => { %>
            <img src="<%= img.url %>" alt="image">
        <% }) %>
    </div>
    
    <div class="details">
        <p><strong>Description:</strong> <%= listing.description %></p>
        <p><strong>Property Type:</strong> <%= listing.propertyType %></p>
        <h3>Available Room Types</h3>

        <div class="room-types-list">
            <% listing.roomTypes.forEach(room => { %>
                <div class="room-type-card">
                    <p>
                        <strong>Room Type:</strong>
                        <%= room.roomType
                            .split("-")
                            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                            .join(" ")
                        %>
                    </p>
                    <p><strong>Total Rooms:</strong> <%= room.totalRooms %></p>
                    <p><strong>Price per Night:</strong> ₹ <%= room.pricePerNight %></p>
                </div>
            <% }) %>
        </div>
        <p>
            <strong>Location:</strong>
            <%= listing.location.address %>,
            <%= listing.location.city %>,
            <%= listing.location.country %>
        </p>
        <p><strong>Wifi Availability:</strong> <%= listing.wifi %></p>
        <p><strong>Parking Availability:</strong> <%= listing.parking %></p>
    </div>
    <% if(currentUser && listing.owner._id.equals(currentUser._id)) { %>
        <div class="actions">
            <a href="/listings/<%= listing._id %>/edit" class="edit-btn">Edit</a>

            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" style="display:inline;">
                <button class="delete-btn">Delete</button>
            </form>
        </div>
    <% } %>
</div>

<div class="availability-section">
    <h3>Check Availability</h3>
    <form id="availabilityForm">
        <label>Check In</label>
        <input type="date" name="checkIn" id="checkIn" required>
        <label>Check Out</label>
        <input type="date" name="checkOut" id="checkOut" required>
        <button type="submit">Check Availability</button>
    </form>
    <div id="availabilityResults"></div>
</div>

<script src="/scripts/listings/show.js"></script>